<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Receipts</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url "logout" %}">logout</a></li>
                    <li><a href="{% url "create_receipt" %}">create receipt</a></li>
                    <li><a href="{% url "create_category" %}">create category</a></li>
                    <li><a href="{% url "create_account" %}">create account</a></li>
                    <li><a href="{% url "category_list" %}">category_list</a></li>
                    <li><a href="{% url "account_list" %}">account_list</a></li>
                    <li><a href="{% url "home" %}">home</a></li>
                    {% else %}
                    <li><a href="{% url "signup" %}">signup</a></li>
                    <li><a href="{% url "login" %}">login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block main %}{% endblock main %}
    </body>
</html>
