{% extends "base.html" %}

{% block main %}
    <main>
        <h1>Expense Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% if user.is_authenticated %}
                    {% for category in categories %}
                        <tr>
                            <td> {{ category.name }} </td>
                            <td> {{ category.receipts.all|length }} </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </main>
{% endblock main %}